/** Footer css **/
.sb-collapse {
	footer {
		width: calc(100% - 80px);
		margin-left: 80px;
	}
}
.sb-hide {
	footer {
		width: 100%;
		margin-left: 0;
	}
}
footer {
	@include ease1;
	width: calc(100% - 270px);
	margin-left: 270px;
	padding: 15px;
	background-color: rgba(236, 238, 240, 0.93);
	border-top: 1px solid #e1e1e1;
	.copyright {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			margin: 0;
			font-weight: 300;
			color: $text-999;
		}
	}
}
/* Responsive css sidebar */
@media only screen and (max-width: 1399px) {
	footer {
		width: calc(100% - 250px);
		margin-left: 250px;
	}
}
@media only screen and (max-width: 991px) {
	.sb-default {
		footer {
			width: calc(100% - 80px);
			margin-left: 80px;
		}
	}
}
@media only screen and (max-width: 767px) {
	footer {
		.copyright {
			flex-direction: column;
			p {
				line-height: 26px;
			}
		}
	}
}
@media only screen and (max-width: 575px) {
	.sb-collapse, .sb-default {
		footer {
			width: 100%;
			margin-left: 0;
		}
	}
	footer {
		width: 100%;
		margin-left: 0;
		padding: 10px;
	}
}