/** Header css **/
.sb-collapse {
	.cr-header {
		width: calc(100% - 80px);
		margin-left: 80px;
	}
}
.sb-hide {
	.cr-header {
		width: 100%;
		margin-left: 0;
	}
}
.cr-header, [data-header-mode-tool="light"] {
	@include ease1;
	width: calc(100% - 270px);
	height: 70px;
	margin-left: 270px;
	padding: 0 12px;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(236, 238, 240, 0.93);
	border-bottom: 1px solid #e1e1e1;
	backdrop-filter: blur(3px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;

	.cr-header-items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.left-header {
			height: 70px;
			display: flex;
			flex-direction: row;
			align-items: center;

			a {
				display: flex;
				align-items: center;
			}
		}
		.right-header {
			height: 70px;
			display: flex;
			align-items: center;
		
			.cr-hover-tool {
				img.user {
					width: 35px;
					height: 35px;
					border-radius: $radius;
				}
		
				img.flag {
					width: 20px;
					height: 20px;
					border-radius: $radius;
				}
			}
		
			.cr-hover-drop {
				li {
					a {
						display: flex;
						align-items: center;
		
						.flag {
							width: 20px;
							height: 100%;
							margin-right: 10px;
							border: 1px solid $border-eee;
							border-radius: $radius;
						}
					}
		
				}
			}
			.cr-flag-drop.language {
				.cr-hover-drop-panel {
					min-width: 150px;
				}
			}
		
			.cr-right-tool.apps {
				.cr-hover-drop-panel {
					min-width: 290px;
		
					ul {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
		
						li {
							width: 90px;
		
							a {
								padding: 15px;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
		
								.app {
									width: 35px;
									height: 35px;
									margin-bottom: 5px
								}
							}
						}
					}
				}
			}
		
			.cr-hover-drop {
				@include ease3;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				border-radius: $radius;
		
				&:hover {
					background-color: $hover-drop-list;
		
					.cr-hover-drop-panel {
						margin-top: 0;
						opacity: 1;
						visibility: visible;
					}
				}
		
				.cr-hover-drop-panel {
					@include ease3;
					min-width: 200px;
					margin-top: 15px;
					padding: 10px;
					position: absolute;
					text-align: left;
					opacity: 0;
					visibility: hidden;
					top: 55px;
					left: auto !important;
					background: $fff;
					box-shadow: $card-shadow;
					display: block;
					z-index: 9;
					border-radius: $radius;
		
					.details {
						padding: 10px 10px 0 10px;
		
						h6 {
							margin-bottom: 0;
							font-family: $font-family-text;
							font-size: 13px;
							font-weight: 500;
						}
		
						p {
							margin: 0;
							font-size: 12px;
							font-weight: 400;
						}
					}
		
					.border-top {
						margin-top: 15px;
						padding-top: 10px;
						border-color: $border-eee;
					}
		
					ul {
						li {
							a {
								width: 100%;
								padding: 5px 10px;
								display: flex;
								border-radius: $radius;
								color: $text-777;
								font-size: 13px;
		
								&:hover {
									background-color: $hover-drop-list;
								}
		
								i {
									margin-right: 6px;
									font-size: 17px;
								}
							}
						}
					}
				}
		
				.cr-hover-drop-panel.right {
					right: 0;
				}
			}
		
			.cr-right-tool {
				margin-left: 10px;
		
				.title {
					margin: -10px -10px 10px -10px;
					padding: 15px;
					font-size: 17px;
					font-weight: 700;
					border-bottom: 1px solid $border-eee;
					color: $title-color;
				}
		
				>a {
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: $radius;
		
					&:hover {
						background-color: $hover-drop-list;
					}
				}
		
				i {
					font-size: 21px;
					color: $sb-title-color;
				}
		
				.cr-notify {
					position: relative;
		
					.label {
						width: 8px;
						height: 8px;
						position: absolute;
						top: 5px;
						right: 5px;
						background-color: $main-secondary-color;
						border-radius: 50%;
						animation: blinker 2s infinite;
					}
		
					@-webkit-keyframes blinker {
						0% {
							opacity: 1;
							-webkit-transform: scale(0);
							transform: scale(0);
						}
		
						80% {
							opacity: 0.8;
						}
		
						100% {
							opacity: 0;
							-webkit-transform: scale(1);
							transform: scale(1);
						}
					}
				}
		
				.cr-screen {
					i {

					}
				}
		
				.cr-screen.reset {
					display: none;
				}
		
				.cr-mode {}
		
				.cr-mode.light {
					display: none;
				}
			}
			.cr-user-drop{
				margin-left: 15px;
			}
		}
		.header-search-box {
			margin-left: 20px;
			position: relative;
			.open-search {
				display: none;
			}

			form {
				background-color: transparent;
				z-index: 20;
			}

			input {
				min-width: 300px;
				height: 40px;
				padding: 0 15px;
				border: 1px solid $border-eee;
				border-radius: $radius;
				background-color: #fff;
				border: 1px solid #e1e1e1;
				&:focus {
					outline: navajowhite;
					border: 1px solid $border-eee;
				}
			}

			.search-btn {
				width: 30px;
				height: 30px;
				position: absolute;
				top: 50%;
				right: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translateY(-50%);

				i {
					color: $icon-clr;
				}
			}
		}

		.cr-toggle-sidebar.active {
			.outer-ring {
				.inner-ring {
					@include ease3;
					left: 4px;
				}
			}
		}

		.outer-ring {
			width: 30px;
			height: 18px;
			display: block;
			border: 1px solid $icon-clr;
			border-radius: 0;
			position: relative;

			.inner-ring {
				@include ease3;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 3px;
				right: 4px;
				border-radius: 0;
				display: block;
				background-color: $icon-clr;
			}
		}
	}


}

[data-header-mode-tool="dark"] {
	background-color: rgba(20, 26, 49, .9);
	.cr-header-items {
		.header-search-box {
			input {
				background: #1e2531;
				border-color: #313a4b;
				color: #aab2bf;
				&:focus {
					border-color: #313a4b;
				}
			}
		}

		.cr-hover-drop {
			&:hover {
				background-color: #181d27;
			}
			i {
				color: #9ba5b5;
			}
		}
		.cr-right-tool {
			> a {
				&:hover {
					background-color: #181d27;
				}
			}			
			i{
				color: #9ba5b5;
			}
		}
		.right-header {
			.cr-right-tool {
				i {
					color: #9ba5b5 !important;
				}
				> a {
					&:hover {
						background-color: #181d27;
					}
				}
			}
			.cr-hover-drop{
				&:hover {
					background-color: #181d27;
				}
			}
		}
	}
}
[data-header-mode-tool="light"] {
    background-color: rgba(236, 238, 240, 0.93);
	.cr-header-items {
		.right-header {
			.cr-right-tool {
				> a {
					&:hover {
						background-color: $hover-drop-list;
					}
					i {
						color: $sb-title-color;
					}
				}
				i {
					color: $sb-title-color;
				}
			}
			.cr-hover-drop{
				&:hover {
					background-color: $hover-drop-list;
				}
			}
		}
	}
}
/* Responsive css sidebar */
@media only screen and (max-width: 1399px) {
	.cr-header {
		width: calc(100% - 250px);
		margin-left: 250px;
	}
}

@media only screen and (max-width: 991px) {
	.cr-header {
		width: calc(100% - 80px);
		margin-left: 80px;
	}

	.cr-header {
		z-index: 20;

		.cr-header-items {
			.header-search-drop {
				&:hover {
					.cr-search {
						margin-top: 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}

			.header-search-box {
				position: relative;

				.open-search {
					width: 30px;
					height: 30px;
					display: block;
					color: $icon-clr;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 21px;
				}

				.search-btn {
					right: 18px;
				}

				.cr-search {
					@include ease3;
					width: 300px;
					margin-top: 15px;
					padding: 15px;
					border-radius: $radius;
					box-shadow: $card-shadow;
					position: absolute;
					opacity: 0;
					visibility: hidden;
					top: 50px;
					left: auto !important;
					display: block;

					input {
						width: 100%;
						min-width: 100%;
					}
				}
			}

			.outer-ring {
				.inner-ring {
					@include ease3;
					left: 4px;
					right: auto
				}
			}

			.cr-toggle-sidebar.active {
				.outer-ring {
					.inner-ring {
						@include ease3;
						right: 4px;
						left: auto;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.cr-header {
		height: 60px;

		.cr-header-items {
			.header-search-box {
				margin-left: 15px;

				.open-search {
					font-size: 18px;
				}

				.cr-search {
					top: 45px;
				}
			}

			.left-header {
				height: 60px;
			}
			.right-header {
				.cr-hover-tool {
					img.user {
						width: 30px;
						height: 30px;
					}
		
					img.flag {
						width: 18px;
						height: 18px;
					}
				}
				.cr-right-tool {
					i {
						font-size: 18px;
					}
					> a {
						width: 30px;
						height: 30px;
					}
				}
				.cr-hover-drop {
					width: 30px;
					height: 30px;
			
					.cr-hover-drop-panel {
						top: 45px;
					}
				}
			
				.cr-right-tool {
					margin-left: 5px;
				}
			
			
				.cr-user-drop {
					margin-left: 10px;
				}
			}
		}

	}

	

}

@media only screen and (max-width: 575px) {
	.cr-header {
		width: 100%;
		margin-left: 0px;
	}

	.sb-collapse {
		.cr-header {
			width: 100%;
			margin-left: 0px;
		}
	}
	.cr-right-tool.display-screen, .cr-right-tool.display-dark {
		display: none;
	}
}

@media only screen and (max-width: 420px) {
	.cr-header {
		.cr-header-items {
			.header-search-box {
				position: unset;

				.cr-search {
					width: calc(100% - 30px);
					left: 15px;
					right: 15px;
					top: 60px;
				}
			}
		}
	}

	.cr-right-tool.apps {
		.cr-hover-drop {
			position: unset;
		}

		.cr-hover-drop-panel {
			width: calc(100% - 30px);
			left: 15px;
			right: 15px;
			top: 60px;
			ul {
				justify-content: center;
			}
		}
	}
}