/**  Login page  **/
.auth-section {
    position: relative;
    &::after {
        content: "";
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/bg/1.jpg);
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, .5);
        z-index: -1;
    }
}
.auth-section.anim {
	background-color: #F8FAFB;
        background-image:  linear-gradient(#f0f0f0 1px, transparent 1px), linear-gradient(to right, #f0f0f0 1px, #F8FAFB 1px);
        background-size: 20px 20px;
	&::after {
        content: "";
        width: 50%;
        height: calc(100vh - 30px);
		display: flex;
		align-items: center;
		justify-content: center;
        position: absolute;
        top: 15px;
		left: 15px;
		bottom: 15px;
        background-image: url(../img/bg/2.jpg);
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        z-index: 5;
		clip-path: polygon(2% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%, 0% 2%);
    }
}
.cr-login-page, .cr-error-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 8;
    position: relative;
	#particles-js {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
	}
	.form-position {
		position: relative;
		display: flex;
		align-items: center;
	}
	.login-form,
	.forgot-form {
		width: 350px;
	}
	.signup-form {
		width: 450px;
	}
	.login-form,
	.signup-form,
	.forgot-form {
		margin: auto;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 0;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
		p {
			text-align: center;
			color: $text-999;
            b{
                font-weight: 500;
                color: $text-777;
                line-height: 28px;
            }
		}
        h6 {
            color: $gray;
            text-align: center;
            font-size: 15px;
            font-weight: 700;
        }
		.imgcontainer {
			text-align: center;
			margin: 24px 0 5px 0;
			position: relative;
			img {
				width: 130px;
			}
		}
        .imgcontainer.user {
            img {
                width: 70px;
                border-radius: $radius;
            }
        }
		.input-control {
			padding: 15px 30px 30px 30px;
			position: relative;
			.p-l-5 {
				padding-left: 5px;
			}
			.p-r-5 {
				padding-right: 5px;
			}
			.p-l-10 {
				padding-left: 10px;
			}
			.p-r-10 {
				padding-right: 10px;
			}
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border-bottom: 2px solid #ccc;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				box-sizing: border-box;
				border-radius: $radius;
				font-size: 14px;
				color: #666;
				background-color: #f8f8f8;
				transition: all 0.3s ease-in-out;
				&:focus {
					border-radius: $radius;
					border-bottom: 2px solid $main-primary-color;
					outline: none !important;
				}
				&::placeholder {
					font-size: 13px;
				}
			}
			.password-field-show {
				position: relative;
				display: block;
				.field-icon {
					position: absolute;
					top: 23px;
					right: 10px;
					z-index: 2;
					color: #868686;
				}
			}
			.label-container {
				display: inline-block;
				position: relative;
				padding-left: 30px;
				margin: 12px 0;
				cursor: pointer;
				font-size: 14px;
				color: #868686;
				line-height: 25px;
				user-select: none;
				transition: all 0.3s ease-in-out;
				a {
					color: $main-primary-color;
					font-weight: 600;
				}
				&:hover input ~ .checkmark {
					background-color: #3c3c3c;
					transition: all 0.3s ease-in-out;
				}
				input[type="checkbox"] {
					outline: 2px solid #868686;
					transition: all 0.3s ease-in-out;
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
					border-radius: $radius;
				}
				.checkmark {
					position: absolute;
					top: 2px;
					left: 2px;
					height: 20px;
					width: 20px;
					background-color: #fff;
					outline: 2px solid transparent;
					border: 2px solid #cccccc;
					border-radius: $radius;
					&:after {
						content: "";
						position: absolute;
						display: none;
						left: 5px;
						top: 1px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 2px 2px 0;
						transform: rotate(45deg);
					}
				}
				input:checked ~ .checkmark {
					background-color: $main-primary-color;
					&:after {
						display: block;
					}
				}
			}
			span.psw {
				float: right;
				padding-top: 12px;
				a {
					font-size: 13px;
					color: $main-primary-color;
					font-weight: 500;
					text-decoration: none;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: #444;
					}
				}
			}
			.login-btns {
				text-align: center;
				button {
					background-color: $main-primary-color;
					color: white;
					padding: 8px 15px;
					margin: 8px 0;
					cursor: pointer;
					font-size: 14px;
					font-weight: 600;
					border-radius: $radius;
					border: 2px solid transparent;
					transition: all 0.3s ease-in-out;
					&:hover {
						background-color: transparent;
						color: $main-primary-color;
						border: 2px solid $main-primary-color;
					}
				}
			}
			.division-lines {
				width: 100%;
				position: relative;
				display: block;
				p {
					text-align: center;
					width: 40%;
					margin: 15px auto;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 600;
					color: #aaa;
					position: relative;
					z-index: 2;
				}
				&:before {
					content: "";
					width: 30%;
					height: 1px;
					background: #e0e0e0;
					position: absolute;
					top: 13px;
					right: 0;
					margin: auto;
				}
				&:after {
					content: "";
					width: 30%;
					height: 1px;
					background: #e0e0e0;
					position: absolute;
					top: 13px;
					left: 0;
					margin: auto;
				}
			}
			.login-with-btns {
				text-align: center;
				.google,
				.facebook,
				.twitter,
				.linkedin {
					width: 35px;
					height: 35px;
					margin: 8px 5px 8px 0;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					border: 2px solid #c3c3c3;
					border-radius: $radius;
					background-color: transparent;
					outline: 1px solid transparent;
					transition: all 0.2s ease-in-out;
					i {
						color: #c3c3c3;
						font-size: 14px;
						transition: all 0.2s ease-in-out;
					}
				}
				.google {
					&:hover {
						border: 2px solid #db4437;
						i {
							color: #db4437;
						}
					}
				}
				.facebook {
					&:hover {
						border: 2px solid #3b5998;
						i {
							color: #3b5998;
						}
					}
				}
				.twitter {
					&:hover {
						border: 2px solid #00acee;
						i {
							color: #00acee;
						}
					}
				}
				.linkedin {
					&:hover {
						border: 2px solid #0e76a8;
						i {
							color: #0e76a8;
						}
					}
				}
				.already-acc {
					margin-top: 10px;
					display: block;
					color: #868686;
					font-size: 14px;
					a {
						padding: 0 5px;
						color: $main-primary-color;
						background-color: transparent;
						text-decoration: none;
						font-weight: 600;
						transition: all 0.3s ease-in-out;
						&:hover {
							color: #444;
						}
					}
				}
			}
		}
	}
}
.auth-section-2 {
	background-image: url(../img/bg/1.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, .7);
	.particles-js-canvas-el {
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		top: 0;
		z-index: 13;
	}
	.login-form, .forgot-form, .signup-form {
    	position: relative;
		z-index: 15;
	}
}
.cr-error-page {
	&:after {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.hero-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 15;
		h1,h4,p {
			text-align: center;
		}
		h1 {
			margin-bottom: 30px;
			font-size: 100px;
			font-weight: 800;
			color: $fff;
		}
		h4 {
			margin-bottom: 15px;
			font-weight: 600;
    		font-size: 20px;
			color: $fff;
		}
		p {
			margin-bottom: 30px;
			color: $fff;
		}
	}
	canvas {
		position: absolute;
	}
}
.cr-maintenance-page {
	&:after {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
	}
	.cr-maintenance-content {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		.content-detail {
			max-width: 500px;
			padding: 0 15px;
			text-align: center;
			z-index: 15;
			h1 {
				color: $fff;
				font-size: 40px;
				font-weight: 600;
			}
			p {
				margin-top: 15px;
				color: $fff;
				font-size: 14px;
    			line-height: 26px;
			}
		}
	}
	.animation {
		display: inline-block;
		margin-bottom: 5%;
	  }
	  
	  .one, .two, .three {
		display: block;
		float: left;
	  }
	  
	  .one {
		background-image: url("../img/other/gear-2.png");
		width: 80px;
		height: 80px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin-top: -10px;
		margin-right: 8px;
	  }
	  
	  .two {
		background-image: url("../img/other/gear-1.png");
		width: 100px;
		height: 100px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	  }
	  
	  .three {
		background-image: url("../img/other/gear-1.png");
		width: 80px;
		height: 80px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin-top: -50px;
		margin-left: -10px;
	  }
	  
	  @-webkit-keyframes gear-one {
		0% {
		  -webkit-transform: rotate(0deg);
				  transform: rotate(0deg);
		}
		100% {
		  -webkit-transform: rotate(-359deg);
				  transform: rotate(-359deg);
		}
	  }
	  
	  @keyframes gear-one {
		0% {
		  -webkit-transform: rotate(0deg);
				  transform: rotate(0deg);
		}
		100% {
		  -webkit-transform: rotate(-359deg);
				  transform: rotate(-359deg);
		}
	  }
	  .gear-one {
		-webkit-animation: gear-one 2.5s infinite linear;
				animation: gear-one 2.5s infinite linear;
	  }
	  
	  @-webkit-keyframes gear-two {
		0% {
		  -webkit-transform: rotate(0deg);
				  transform: rotate(0deg);
		}
		100% {
		  -webkit-transform: rotate(359deg);
				  transform: rotate(359deg);
		}
	  }
	  
	  @keyframes gear-two {
		0% {
		  -webkit-transform: rotate(0deg);
				  transform: rotate(0deg);
		}
		100% {
		  -webkit-transform: rotate(359deg);
				  transform: rotate(359deg);
		}
	  }
	  .gear-two {
		-webkit-animation: gear-two 3s infinite linear;
				animation: gear-two 3s infinite linear;
	  }
	  canvas {
		position: absolute;
		top: 0;
	  }
}

/**  Auth pages Responsive  **/
@media screen and (max-width: 991px) {
	.auth-section.anim {
		&:after {
			// display: none;
			width: calc(100% - 30px);
		}
	}
}
@media screen and (max-width: 767px) {
	.cr-login-page {
		.container {
			padding: 15px;
		}
		#signup-modal {
			.modal-content {
				max-width: 350px;
				top: 15%;
			}
		}
		.modal {
			.input-control {
				input[type="text"],
				input[type="email"],
				input[type="password"] {
					padding: 10px 20px;
				}
			}
		}
	}
	.cr-error-page {
		.hero-container {
			h1 {
				font-size: 80px;
			}
		}
	}
	.cr-maintenance-page {
		.cr-maintenance-content {
			.content-detail {
				h1 {
					font-size: 35px;
				}
			}
		}
	}
}
@media screen and (max-width: 576px) {
    .auth-section {
        &::after {
            content: "";
            width: 100%;
            height: 50vh;
            top: 50%;
        }
    }
	.cr-error-page {
		&:after {
			height: 100vh;
			top: 0;
		}
		.hero-container {
			h1 {
				font-size: 60px;
			}
		}
	}
	.cr-maintenance-page {
		.cr-maintenance-content {
			.content-detail {
				h1 {
					font-size: 30px;
				}
			}
		}
		&:after {
			height: 100vh;
			top: 0;
		}
	}
	.cr-login-page {
		.login-form,
		.forgot-form {
			width: 290px;
		}
		.signup-form {
			width: 290px;
		}
		.login-form,
		.signup-form {
			.input-control {
				.division-lines {
					&:before,
					&:after {
						width: 25%;
					}
					p {
						width: 50%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.cr-login-page {
		.modal {
			.input-control {
				.division-lines {
					p {
						width: 45%;
					}
					&:after,
					&:before {
						width: 25%;
					}
				}
			}
		}
	}
}